/* ------------------------------------ *\
   Accordion
\* ------------------------------------ */

.c-#{$ns}-accordion {
  display: block;
  min-width: 150px;
  margin-bottom: v-spacing(medium);

  &:last-child {
    margin-bottom: 0;
  }

  &.is-comfortable {
    .c-#{$ns}-accordion__trigger {
      @include inset-spacing(comfortable);
      padding-right: h-spacing(small) * 3;
    }

    .c-#{$ns}-accordion__trigger__icon {
      @include inset-spacing(comfortable);
    }

    .c-#{$ns}-accordion__content {
      @include inset-spacing(comfortable);
    }
  }

  &.is-compact {
    .c-#{$ns}-accordion__trigger {
      @include inset-spacing(compact);
      padding-right: h-spacing(xsmall) * 3;
    }

    .c-#{$ns}-accordion__trigger__icon {
      @include inset-spacing(compact);
    }

    .c-#{$ns}-accordion__content {
      @include inset-spacing(compact);
    }
  }
}

.c-#{$ns}-accordion__item {
  margin: 0;
  padding: 0;
  text-align: left;
  text-align: start;

  & + #{&} {
    margin-top: 1px;
  }

  &[open] .c-#{$ns}-accordion__trigger__icon {
    transform: rotate(-630deg) scale3d(-0.8, 0.8, 0.8) translate3d(0, 0, 0);
  }
}

.c-#{$ns}-accordion__trigger {
  @include inset-spacing(cozy);
  @include interactive-text-and-bg;
  display: block;
  margin: 0;
  padding-right: h-spacing(xsmall) * 4;
  color: $text-color;
  cursor: pointer;
  user-select: none;

  &::-webkit-details-marker {
    display: none;
  }

  &:before {
    @include shape(box);
  }

  &:focus {
    .c-#{$ns}-accordion__trigger__icon {
      right: 0.5px; /* This fixes the icon disappearing on focus in Safari. */
    }
  }
}

.c-#{$ns}-accordion__trigger__icon {
  @include inset-spacing(cozy);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  color: $link-color;
  font-family: typeface(mono);
  font-weight: 700;
  transform: rotate(90deg) scale3d(0.8, 0.8, 0.8) translate3d(0, 0, 0);
  transition: transform transition-timing(regular) ease-in-out;

  &:before {
    content: '\0276F';
  }
}

.c-#{$ns}-accordion__content {
  @include inset-spacing(cozy);
}
