/* ------------------------------------ *\
   Accordion
\* ------------------------------------ */

.c-#{$ns}-accordion {
  display: block;
  min-width: 150px;
  margin-bottom: v-spacing(medium);

  &:last-child {
    margin-bottom: 0;
  }

  &.is-comfortable {
    .c-#{$ns}-accordion__trigger {
      @include inset-spacing(comfortable);
    }

    .c-#{$ns}-accordion__content {
      @include inset-spacing(comfortable);
    }
  }

  &.is-compact {
    .c-#{$ns}-accordion__trigger {
      @include inset-spacing(compact);
    }

    .c-#{$ns}-accordion__content {
      @include inset-spacing(compact);
    }
  }
}

.c-#{$ns}-accordion__item {
  margin: 0;
  padding: 0;
  text-align: left;
  text-align: start;

  & + #{&} {
    margin-top: 1px;
  }

  &[open] .c-#{$ns}-accordion__trigger:after {
    transform: rotate(-630deg) scale(0.8) scaleX(-1);
  }
}

.c-#{$ns}-accordion__trigger {
  @include inset-spacing(cozy);
  @include interactive-text-and-bg;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0;
  color: $text-color;
  cursor: pointer;
  user-select: none;

  &::-webkit-details-marker {
    display: none
  }

  &:before {
    border-radius: border-radius(small);
  }

  &:after {
    content: '\0276F';
    display: block;
    margin-left: h-spacing(xsmall);
    color: $link-color;
    line-height: 0;
    font-family: typeface(mono);
    font-weight: 700;
    transform: rotate(90deg) scale(0.8) scaleX(1);
    transition: transform transition-timing(regular) ease-in-out;
  }
}

.c-#{$ns}-accordion__content {
  @include inset-spacing(cozy);
}
