/* ------------------------------------ *\
   Banner (header of a page)
\* ------------------------------------ */

.c-#{$ns}-banner {
  margin-top: 0;
  margin-bottom: v-spacing(large);

  &:last-child {
    margin-bottom: 0;
  }
}
