/* ------------------------------------ *\
   Banner (header of a page)
\* ------------------------------------ */

.c-#{$ns}-banner {
  margin-top: 0;
  margin-bottom: v-spacing(medium) * 1.15;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-#{$ns}-banner__headline {
  margin-bottom: v-spacing(medium) / 2;
  line-height: 1.25;
  font-size: type-scale(xxxlarge-min) + rem;

  @include respond-to(small) {
    margin-bottom: v-spacing(medium);
    line-height: 1.125;
    font-size: type-scale(xxxlarge-max) + rem;
  }
}

.c-#{$ns}-banner__lead {
  font-size: type-scale(large) + rem;
}
