/* ------------------------------------ *\
   Page Body
\* ------------------------------------ */

.c-#{$ns}-body {
  margin: 0;
  color: hsl(var(--#{$ns}-text-color));
  font-size: type-size(medium);
  background-color: hsl(var(--#{$ns}-bg-color));
}
