/* ------------------------------------ *\
   Page Body
\* ------------------------------------ */

.c-#{$ns}-body {
  line-height: $line-height;
  font-family: typeface(body);
  font-size: $font-size;
}
