/* ------------------------------------ *\
   Page Body
\* ------------------------------------ */

.c-#{$ns}-body {
  margin: 0;
  color: $text-color;
  font-size: type-size(medium);
  background-color: $background-color;
}
