/* ------------------------------------ *\
   Button
\* ------------------------------------ */

.c-#{$ns}-button {
  @include inset-spacing(cozy);
  @include shape(card);
  @include shadow-border(thick, rgba($link-color, 0.05));
  @include interactive-text-and-bg;
  display: inline-flex;
  overflow: hidden;
  margin: 0;
  text-align: center;
  text-decoration: none;
  line-height: line-height(tight);
  white-space: nowrap;
  font-family: typeface(smallcap);
  font-weight: 800;
  font-size: type-size(small);
  background-color: transparent;

  &:before {
    @include shape(card);
    border: 2px solid rgba($link-color, 0.8);
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    z-index: 0;
    width: 150%;
    height: 100%;
    pointer-events: none;
    border-radius: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba($link-color, 0)), to(rgba($link-color, 0.04)));
    background: linear-gradient(to bottom, rgba($link-color, 0) 50%, rgba($link-color, 0.04) 100%);
  }

  @at-root button#{&} {
    cursor: pointer;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  &.is-comfortable {
    @include inset-spacing(comfortable);
    font-size: type-size(large);
  }

  &.is-compact {
    @include inset-spacing(compact);
    font-size: type-size(xsmall);
  }
}

.c-#{$ns}-button--block {
  display: block;
  width: 100%;
  margin: 0 auto v-spacing(medium) auto;

  &:last-child {
    margin-bottom: 0;
  }
}
