/* ------------------------------------ *\
   Card
\* ------------------------------------ */

.c-#{$ns}-card {
  @include inset-spacing(cozy);
  @include shape(card);
  @include shadow-border(thick, hsla(var(--#{$ns}-text-color), 0.05));
  display: flex;
  flex-direction: column;
  margin: 0 auto v-spacing(medium) auto;
  color: hsl(var(--#{$ns}-text-color));
  text-align: left;
  text-align: start;
  background-color: hsl(var(--#{$ns}-bg-color));

  &:last-child {
    margin-bottom: 0;
  }

  &.is-comfortable {
    @include inset-spacing(comfortable);
  }

  &.is-compact {
    @include inset-spacing(compact);
  }

  img:first-child {
    @include shape(card);
    display: block;
    margin: v-spacing(xsmall) auto v-spacing(small) auto; /* Margin top helps to line up image card and text card if they are placed side by side. */
    max-width: 100%;
  }

  @at-root a#{&} {
    @include interactive-text-and-bg;
    text-decoration: none;
    background-color: transparent;

    &:before {
      @include shape(card);
    }
  }

  @at-root figure#{&} {
    @include shadow-border(thick, hsla(var(--#{$ns}-text-color), 0.05));
    @include shape(bubble);
    position: relative;

    img:first-child {
      @include offset-spacing(cozy);
      @include shape(bubble);
    }

    > a {
      @include interactive-text-and-bg;
      @include offset-spacing(cozy);
      @include shape(bubble);
      display: block;
      outline: none;
      background-color: transparent;

      &:before {
        @include shape(bubble);
        z-index: 1; /* Brings the gradient on top of the image. */
      }

      img:first-child {
        @include offset-spacing(none);
      }
    }

    figcaption {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      padding: v-spacing(small) h-spacing(xxsmall);
      color: hsla(var(--#{$ns}-bg-color), 0.95);
      -webkit-writing-mode: vertical-lr;
          -ms-writing-mode: tb-lr;
              writing-mode: vertical-lr;
      font-family: typeface(smallcap);
      font-weight: 800;
      font-size: type-size(xsmall);
      border-radius: 0 0 0 border-radius(large);
      background: -webkit-gradient(
        linear,
        left top, right top,
        from(hsla(var(--#{$ns}-text-color), 0.6)),
        to(hsla(var(--#{$ns}-text-color), 0.4))
      );
      background: linear-gradient(
        to right,
        hsla(var(--#{$ns}-text-color), 0.6),
        hsla(var(--#{$ns}-text-color), 0.4)
      );
      -webkit-backdrop-filter: blur(0.25rem);
              backdrop-filter: blur(0.25rem);
    }
  }
}

.c-#{$ns}-card--full-height {
  height: 100%;
}

.c-#{$ns}-card--clickable {
  @include shadow-border(none);
  @include interactive-text-and-bg;
  background-color: transparent;

  &:before {
    @include shape(card);
  }

  &:focus-within {
    @include shadow-border(thin, hsl(var(--#{$ns}-link-color)));

    &:before {
      opacity: 0;
    }
  }
}

.c-#{$ns}-card--transparent {
  @include shadow-border(none);
  padding: 0;
  background-color: transparent;

  img:first-child {
    @include shape(box);
  }
}
