/* ------------------------------------ *\
   Card
\* ------------------------------------ */

.c-#{$ns}-card {
  @include inset-spacing(cozy);
  @include shape(card);
  @include shadow-border(thin, rgba($text-color, 0.05));
  display: block;
  margin-bottom: v-spacing(medium);
  color: $text-color;
  text-decoration: none;
  background-color: $background-color;
  transition: all transition-timing(regular) ease-in-out;

  &:last-child {
    margin-bottom: 0;
  }

  &.is-comfortable {
    @include inset-spacing(comfortable);
  }

  &.is-compact {
    @include inset-spacing(compact);
  }

  img:first-child {
    @include shape(card);
    display: block;
    margin: v-spacing(xsmall) auto v-spacing(small) auto; /* Margin top helps to line up image card and text card if they are placed side by side. */
    max-width: 100%;
  }
}

a.c-#{$ns}-card,
button.c-#{$ns}-card {
  @include interactive-text-and-bg;
  width: 100%;
  background-color: transparent;

  &:before {
    @include shape(card);
  }
}

button.c-#{$ns}-card {
  @include button-reset;
}
