/* ------------------------------------ *\
   Code
\* ------------------------------------ */

.c-#{$ns}-code-block,
.c-#{$ns}-code-block .c-#{$ns}-code {
  @include shape(card);
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: break-word;
}

.c-#{$ns}-code {
  @include shape(pill);
  @include shadow-border(thin, hsla(var(--#{$ns}-text-color), 0.1));
  display: inline;
  margin-bottom: v-spacing(medium);
  padding: 1px h-spacing(xsmall) 2px h-spacing(xsmall);
  color: hsl(var(--#{$ns}-bg-color));
  text-align: start;
  text-shadow: none;
  font-family: typeface(mono);
  font-size: calc(#{type-size-unitless(small)} * 1em);
  background-color: hsla(var(--#{$ns}-text-color), 0.95);

  &:last-child {
    margin-bottom: 0;
  }

  @at-root .c-#{$ns}-code-block & {
    display: block;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    padding: v-spacing(medium) h-spacing(small);
    font-size: 1em;
  }
}

.c-#{$ns}-code-block {
  position: relative;
  display: flex;
  font-size: type-size(xsmall);
  -webkit-backdrop-filter: blur(0.15rem);
          backdrop-filter: blur(0.15rem);

  &:before {
    content: attr(data-code);
    position: absolute;
    right: h-spacing(xsmall);
    bottom: v-spacing(xsmall);
    line-height: 1;
    text-transform: uppercase;
    font-family: typeface(heading);
    font-size: type-size(xxlarge);
  }

  &:not([data-code]) {
    &:before {
      display: none;
    }
  }
}
