/* ------------------------------------ *\
   Code
\* ------------------------------------ */

.c-#{$ns}-code,
.c-#{$ns}-code-block {
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: break-word;
  word-wrap: break-word;
}

.c-#{$ns}-code {
  @include shadow-border(thick, rgba($code-text-color, 0.1));

  display: inline;
  margin: 0 border-width(thick);
  padding: 2px h-spacing(xxsmall) 3px h-spacing(xxsmall);
  color: $code-text-color;
  text-align: left;
  font-family: typeface(mono);
  font-size: type-size(xsmall);
  border-radius: border-radius(large);
  background-color: $code-background-color;

  @at-root .c-#{$ns}-code-block & {
    display: block;
    width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    margin: 0;
    padding: v-spacing(xsmall) h-spacing(small);
  }
}

.c-#{$ns}-code-block {
  display: flex;
  font-size: type-size(xsmall);
}
