/* ------------------------------------ *\
   Link
\* ------------------------------------ */

.c-#{$ns}-link {
  text-decoration: none;
  -webkit-transition: all transition-timing(regular) ease-in;
  transition: all transition-timing(regular) ease-in;

  &:link {
    color: hsl(var(--#{$ns}-link-color));
    box-shadow: 0 -0.125em 0 hsla(var(--#{$ns}-link-color), 0.1) inset;
  }

  &:visited {
    color: hsl(var(--#{$ns}-text-color));
    box-shadow: 0 -0.125em 0 hsla(var(--#{$ns}-text-color), 0.1) inset;
  }

  &:hover,
  &:focus {
    color: hsl(var(--#{$ns}-link-color));
    box-shadow: 0 -0.375em 0 hsla(var(--#{$ns}-link-color), 0.2) inset;
  }

  &:focus {
    text-decoration: underline;
    outline: none;
    box-shadow: none;
    background-color: hsla(var(--#{$ns}-link-color), 0.1);
  }

  &:active {
    color: hsl(var(--#{$ns}-text-color));
    box-shadow: none;
    background-color: hsla(var(--#{$ns}-text-color), 0.1);
  }
}

.c-#{$ns}-link--expand-click-target {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
