/* ------------------------------------ *\
   Link
\* ------------------------------------ */

.c-#{$ns}-link {
  text-decoration: none;
  -webkit-transition: all transition-timing(regular) ease-in;
  transition: all transition-timing(regular) ease-in;

  &:link {
    color: $link-color;
    box-shadow: 0 -0.125em 0 rgba($link-color, 0.1) inset;
  }

  &:visited {
    color: $text-color;
    box-shadow: 0 -0.125em 0 rgba($text-color, 0.1) inset;
  }

  &:hover,
  &:focus {
    color: $link-color;
    box-shadow: 0 -0.375em 0 rgba($link-color, 0.2) inset;
  }

  &:focus {
    text-decoration: underline;
    outline: none;
    box-shadow: none;
    background-color: rgba($link-color, 0.1);
  }

  &:active {
    color: $text-color;
    box-shadow: none;
    background-color: rgba($text-color, 0.1);
  }
}
