/* ------------------------------------ *\
   List
\* ------------------------------------ */

$bullet-color: rgba($text-color, 0.4) !default;

.c-#{$ns}-list {
  @include reset-spacing;
  display: block;
  margin-bottom: v-spacing(medium);
  list-style: none;
  text-align: left;
  text-align: start;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-#{$ns}-list__item {
  @include reset-spacing;
  text-decoration: none;
}

.c-#{$ns}-list--unordered {
  .c-#{$ns}-list__item {
    position: relative;
    margin-bottom: v-spacing(xsmall);

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      left: h-spacing(xxsmall) * -1;
      content: '\2059';
      color: $bullet-color;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
}

.c-#{$ns}-list--ordered {
  counter-reset: ordered-list-item;

  .c-#{$ns}-list__item {
    position: relative;
    margin-bottom: v-spacing(xsmall);
    counter-increment: ordered-list-item;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      left: h-spacing(xxsmall) * -1;
      content: counter(ordered-list-item);
      color: $bullet-color;
      font-family: typeface(smallcap);
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
}

.c-#{$ns}-list--ordered,
.c-#{$ns}-list--unordered {
  .c-#{$ns}-list--ordered,
  .c-#{$ns}-list--unordered {
    margin-left: calc(#{h-spacing(small)} + 0.1rem);

    .c-#{$ns}-list__item {
      margin-bottom: v-spacing(xxsmall);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.is-horizontal {
    display: flex;
    flex-wrap: wrap;
    margin-top: v-spacing(xxsmall) * -1;
    margin-left: h-spacing(small) * -2.25;

    .c-#{$ns}-list__item {
      display: inline-flex;
      margin-top: v-spacing(xxsmall);
      margin-bottom: 0;
      margin-left: h-spacing(small) * 2.25;
      vertical-align: middle;
    }
  }
}

.c-#{$ns}-list--bare {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  > .c-#{$ns}-list__item {
    display: block;
    margin-bottom: v-spacing(medium);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.is-horizontal {
    flex-direction: row;
    margin-top: v-spacing(medium) * -1;
    margin-left: h-spacing(medium) * -1;

    > .c-#{$ns}-list__item {
      flex: 1;
      flex-basis: 150px;
      margin-top: v-spacing(medium);
      margin-bottom: 0;
      margin-left: h-spacing(medium);
    }
  }

  &.is-comfortable {
    > .c-#{$ns}-list__item {
      margin-bottom: v-spacing(large);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.is-horizontal {
      margin-top: v-spacing(large) * -1;
      margin-left: h-spacing(large) * -1;

      > .c-#{$ns}-list__item {
        margin-top: v-spacing(large);
        margin-bottom: 0;
        margin-left: h-spacing(large);
      }
    }
  }

  &.is-compact {
    > .c-#{$ns}-list__item {
      margin-bottom: v-spacing(xsmall);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.is-horizontal {
      margin-top: v-spacing(xsmall) * -1;
      margin-left: h-spacing(xsmall) * -1;

      > .c-#{$ns}-list__item {
        margin-top: v-spacing(xsmall);
        margin-bottom: 0;
        margin-left: h-spacing(xsmall);
      }
    }
  }
}

.c-#{$ns}-list--inline {
  justify-content: flex-start;
}

.c-#{$ns}-list--justified {
  justify-content: space-between;
}

.c-#{$ns}-list--inline,
.c-#{$ns}-list--justified {
  display: flex;
  flex-wrap: wrap;
  margin-top: v-spacing(small) * -1;
  margin-left: h-spacing(small) * -1;

  > .c-#{$ns}-list__item {
    display: inline-flex;
    margin-top: v-spacing(small);
    margin-bottom: 0;
    margin-left: h-spacing(small);
    vertical-align: basline;
  }

  &.is-compact {
    margin-top: v-spacing(xsmall) * -1;
    margin-left: h-spacing(xsmall) * -1;

    > .c-#{$ns}-list__item {
      margin-top: v-spacing(xsmall);
      margin-left: h-spacing(xsmall);
    }
  }
}


.c-#{$ns}-list--ui {
  margin-top: -1px;
  margin-left: -1px;

  > .c-#{$ns}-list__item {
    @include inset-spacing(cozy);
    @include shape(box);
    display: block;
    margin-top: 1px;
    margin-left: 1px;
    color: $text-color;
    background-color: rgba($text-color, 0.05);
  }

  > a.c-#{$ns}-list__item,
  > button.c-#{$ns}-list__item {
    @include interactive-text-and-bg;
    width: 100%;
    background-color: transparent;

    &:before {
      @include shape(box);
    }
  }

  > button.c-#{$ns}-list__item {
    @include button-reset;
  }

  &.is-horizontal {
    display: flex;
    flex-wrap: wrap;

    > .c-#{$ns}-list__item {
      flex: 1;
      flex-basis: 150px;
    }
  }

  &.is-comfortable {
    > .c-#{$ns}-list__item {
      @include inset-spacing(comfortable);
    }
  }

  &.is-compact {
    > .c-#{$ns}-list__item {
      @include inset-spacing(compact);
    }
  }
}

