/* ------------------------------------ *\
   List
\* ------------------------------------ */

$bullet-color: $link-color !default;

.c-#{$ns}-list {
  @include reset-spacing;

  display: block;
  margin-bottom: v-spacing(medium);
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.c-#{$ns}-list__item {
  @include reset-spacing;
}

.c-#{$ns}-list--unordered {
  .c-#{$ns}-list__item {
    position: relative;
    margin-bottom: v-spacing(xsmall);

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      left: h-spacing(xsmall) * -1;
      content: '\2059';
      color: $bullet-color;
      transform: translateX(-100%);
    }
  }
}

.c-#{$ns}-list--ordered {
  counter-reset: ordered-list-item;

  .c-#{$ns}-list__item {
    position: relative;
    margin-bottom: v-spacing(xsmall);
    counter-increment: ordered-list-item;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      left: h-spacing(xsmall) * -1;
      content: counter(ordered-list-item);
      color: $bullet-color;
      /*font-weight: 700;*/
      transform: translateX(-100%);
    }
  }
}

.c-#{$ns}-list--ordered,
.c-#{$ns}-list--unordered {
  .c-#{$ns}-list--ordered,
  .c-#{$ns}-list--unordered {
    margin-left: calc(#{h-spacing(small)} + 0.1rem);

    .c-#{$ns}-list__item {
      margin-bottom: v-spacing(xxsmall);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.is-horizontal {
    display: flex;
    flex-wrap: wrap;
    margin-top: v-spacing(xxsmall) * -1;
    margin-left: h-spacing(small) * -2.25;

    .c-#{$ns}-list__item {
      display: inline-flex;
      margin-top: v-spacing(xxsmall);
      margin-bottom: 0;
      margin-left: h-spacing(small) * 2.25;
      vertical-align: middle;
    }
  }
}

.c-#{$ns}-list--bare {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  > .c-#{$ns}-list__item {
    display: flex;
    flex-basis: 100%;
    margin-bottom: v-spacing(medium);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.is-horizontal {
    flex-direction: row;
    margin-top: v-spacing(medium) * -1;
    margin-left: h-spacing(medium) * -1;

    > .c-#{$ns}-list__item {
      display: inline-flex;
      flex: 1;
      flex-basis: 150px;
      margin-top: v-spacing(medium);
      margin-bottom: 0;
      margin-left: h-spacing(medium);
    }
  }

  &.is-comfortable {
    > .c-#{$ns}-list__item {
      margin-bottom: v-spacing(large);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.is-horizontal {
      margin-top: v-spacing(large) * -1;
      margin-left: h-spacing(large) * -1;

      > .c-#{$ns}-list__item {
        margin-top: v-spacing(large);
        margin-bottom: 0;
        margin-left: h-spacing(large);
      }
    }
  }

  &.is-compact {
    > .c-#{$ns}-list__item {
      margin-bottom: v-spacing(xsmall);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &.is-horizontal {
      margin-top: v-spacing(xsmall) * -1;
      margin-left: h-spacing(xsmall) * -1;

      > .c-#{$ns}-list__item {
        margin-top: v-spacing(xsmall);
        margin-bottom: 0;
        margin-left: h-spacing(xsmall);
      }
    }
  }
}

.c-#{$ns}-list--inline {
  display: flex;
  flex-wrap: wrap;
  margin-top: v-spacing(small) * -1;
  margin-left: h-spacing(small) * -1;

  > .c-#{$ns}-list__item {
    display: inline-flex;
    margin-top: v-spacing(small);
    margin-bottom: 0;
    margin-left: h-spacing(small);
    vertical-align: middle;
  }
}

.c-#{$ns}-list--ui {
  position: relative;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(palette(black), 0.1);

  > .c-#{$ns}-list__item {
    display: flex;
    justify-content: space-between;
    padding-top: v-spacing(small);
    padding-right: h-spacing(medium);
    padding-bottom: v-spacing(small);
    padding-left: h-spacing(medium);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(palette(black), 0.1);
  }

  &.is-horizontal {
    display: flex;
    flex-wrap: wrap;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(palette(black), 0.1);

    > .c-#{$ns}-list__item {
      display: flex;
      flex: 1;
      min-width: 150px;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: rgba(palette(black), 0.1);
    }
  }

  &.is-comfortable {
    padding-top: v-spacing(large);
    padding-right: h-spacing(medium);
    padding-bottom: v-spacing(large);
    padding-left: h-spacing(medium);
  }

  &.is-compact {
    padding-top: v-spacing(xsmall);
    padding-right: h-spacing(xsmall);
    padding-bottom: v-spacing(xsmall);
    padding-left: h-spacing(xsmall);
  }
}

