$plane-max-width: 1440px;

@mixin plane-max-width {
  max-width: $plane-max-width;
  margin: 0 auto;
}

@mixin plane-full-width {
  width: 100%;
  max-width: 100%;
  margin: 0;
}


.c-#{$ns}-plane {
  position: relative;

  &--blue {
    background-color: rgba(palette(blue), 0.8);
  }

  &--red {
    background-color: rgba(palette(red), 0.8);
  }
}

@each $value in $_h-spacing-values {
  $value-name: nth($value, 1);

  .c-#{$ns}-plane--h-inset-#{$value-name} {
    padding-right: h-spacing(#{$value-name});
    padding-left: h-spacing(#{$value-name});
  }
}

@each $value in $_v-spacing-values {
  $value-name: nth($value, 1);

  .c-#{$ns}-plane--v-inset-#{$value-name} {
    padding-top: v-spacing(#{$value-name});
    padding-bottom: v-spacing(#{$value-name});

    .c-#{$ns}-plane-deck {
      min-height: v-spacing(#{$value-name});
    }

    .c-#{$ns}-plane-deck--upper {
      margin-top: v-spacing(#{$value-name}) * -1;
    }

    .c-#{$ns}-plane-deck--lower {
      margin-bottom: v-spacing(#{$value-name}) * -1;
    }
  }
}

.c-#{$ns}-plane-deck,
.c-#{$ns}-plane-cabin {
  position: relative;
}

.c-#{$ns}-plane-deck {
  @include plane-max-width;

  display: flex;

  &--upper {
    align-items: flex-start;
  }

  &--lower {
    align-items: flex-end;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    margin-top: v-spacing(xsmall);
    margin-right: h-spacing(xsmall) / 2 * -1;
    margin-bottom: v-spacing(xsmall);
    margin-left: h-spacing(xsmall) / 2 * -1;

    &__item {
      padding-right: h-spacing(xsmall) / 2;
      padding-left: h-spacing(xsmall) / 2;

      &--start {
        margin-right: auto;
        margin-left: 0;
      }

      &--end {
        margin-right: 0;
        margin-left: auto;
      }

      &--center {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

.c-#{$ns}-plane-cabin {
  @include plane-max-width;

  &--full {
    @include plane-full-width;
  }
}

.c-#{$ns}-plane-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

