/* ------------------------------------ *\
   Plane
\* ------------------------------------ */

@mixin plane-max-width($width) {
  @if $width == 'article' {
    max-width: 75ch;
  }
  @else if $width == 'large' {
    max-width: breakpoint(large);
  }
  @else if $width == 'xlarge' {
    max-width: breakpoint(xlarge);
  }

  margin-right: auto;
  margin-left: auto;
}

.c-#{$ns}-plane {
  display: block;
  position: relative;
}

/* Plane trendy gradient */
.c-#{$ns}-plane--trendy {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background:
      linear-gradient(216deg, rgba(palette(yellow), .6), rgba(palette(yellow), 0) 70.71%),
      linear-gradient(100deg, rgba(palette(orange), .6), rgba(palette(orange), 0) 70.71%),
      linear-gradient(336deg, rgba(palette(green), .6), rgba(palette(green), 0) 70.71%);
    background-blend-mode: darken;
    opacity: 0.2;
  }
}

.c-#{$ns}-plane--trendy--af {
  &:after {
    opacity: 0.6; /* Makes the gradient stronger. */
  }
}

@each $value in $h-spacing-values {
  $value-name: nth($value, 1);

  .c-#{$ns}-plane--h-inset-#{$value-name} {
    padding-right: h-spacing(#{$value-name});
    padding-left: h-spacing(#{$value-name});
  }
}

/* Plane inset spacing options */
@each $value in $v-spacing-values {
  $value-name: nth($value, 1);

  .c-#{$ns}-plane--v-inset-#{$value-name} {
    padding-top: v-spacing(#{$value-name});
    padding-bottom: v-spacing(#{$value-name});

    .c-#{$ns}-plane-deck {
      min-height: v-spacing(#{$value-name});
    }

    .c-#{$ns}-plane-deck--upper {
      margin-top: v-spacing(#{$value-name}) * -1;
    }

    .c-#{$ns}-plane-deck--lower {
      margin-bottom: v-spacing(#{$value-name}) * -1;
    }
  }
}

/* Plane cabin and deck */
.c-#{$ns}-plane-deck,
.c-#{$ns}-plane-cabin {
  position: relative;
}

.c-#{$ns}-plane-cabin {
  display: block;
}

.c-#{$ns}-plane-deck {
  display: flex;

  &--upper {
    align-items: flex-start;
  }

  &--lower {
    align-items: flex-end;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    margin-top: v-spacing(xsmall);
    margin-right: h-spacing(xsmall) / 2 * -1;
    margin-bottom: v-spacing(xsmall);
    margin-left: h-spacing(xsmall) / 2 * -1;

    &__item {
      padding-right: h-spacing(xsmall) / 2;
      padding-left: h-spacing(xsmall) / 2;

      &--start {
        margin-right: auto;
        margin-left: 0;
      }

      &--end {
        margin-right: 0;
        margin-left: auto;
      }

      &--center {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}

/* Plane width options */
.c-#{$ns}-plane--article {
  .c-#{$ns}-plane-deck,
  .c-#{$ns}-plane-cabin {
    @include plane-max-width(article);
  }
}

.c-#{$ns}-plane--large {
  .c-#{$ns}-plane-deck,
  .c-#{$ns}-plane-cabin {
    @include plane-max-width(large);
  }
}

.c-#{$ns}-plane--xlarge {
  .c-#{$ns}-plane-deck,
  .c-#{$ns}-plane-cabin {
    @include plane-max-width(xlarge);
  }
}

/* Plane background */
.c-#{$ns}-plane-background {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/* Stacking context */
.c-#{$ns}-plane-deck,
.c-#{$ns}-plane-cabin {
  z-index: 2; /* Places cabin and deck above background and gradient. */
}

.c-#{$ns}-plane--trendy:after {
  z-index: 1; /* Places the gradient below cabin and deck. */
}

.c-#{$ns}-plane-background {
  z-index: 0; /* Places background below cabin and deck. */
}
