/*------------------------------------*\
  Text
\*------------------------------------*/

/* Type Options */
.c-#{$ns}-text {
  text-shadow: 1px 1px 1px hsla(var(--#{$ns}-bg-color), 0.6);
  font-family: typeface(body);
  font-weight: var(--#{$ns}-custom-font-text-weight, 300);
}

.c-#{$ns}-text--heading {
  letter-spacing: -0.025em;
  text-shadow: 0 0 0 hsla(var(--#{$ns}-text-color), 0.4);
  font-family: typeface(heading);
  font-weight: var(--#{$ns}-custom-font-heading-weight, 900);

  &.c-#{$ns}-text--xsmall {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: typeface(smallcap);
    font-weight: var(--#{$ns}-custom-font-xsmall-heading-weight, 800);
  }
}

.c-#{$ns}-text--lede {
  font-family: typeface(smallcap);
  font-weight: var(--#{$ns}-custom-font-lede-weight, 200);
}

/* Size Options */
.c-#{$ns}-text--xxlarge {
  font-size: type-size(xxlarge);
}

.c-#{$ns}-text--xlarge,
.c-#{$ns}-text--lede {
  font-size: type-size(xlarge);
}

.c-#{$ns}-text--large {
  font-size: type-size(large);
}

.c-#{$ns}-text--medium {
  font-size: type-size(medium);
}

.c-#{$ns}-text--small {
  font-size: type-size(small);
}

.c-#{$ns}-text--xsmall {
  font-size: type-size(xsmall);
}

.c-#{$ns}-text--display {
  font-size: clamp(type-size(xxxlarge-min), 6vw, type-size(xxxlarge-max));
}

.c-#{$ns}-text--xlarge,
.c-#{$ns}-text--xxlarge,
.c-#{$ns}-text--display {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}


/* Line Height */
.c-#{$ns}-text {
  line-height: line-height(regular);
}

.c-#{$ns}-text--lede {
  line-height: line-height(tight);
}

.c-#{$ns}-text--heading {
  line-height: line-height(tight);

  &.c-#{$ns}-text--xxlarge,
  &.c-#{$ns}-text--xlarge {
    line-height: line-height(xtight);
  }

  &.c-#{$ns}-text--display {
    line-height: line-height(xtight);

    @include respond-to(small) {
      line-height: line-height(xxtight);
    }
  }
}


/* Display Options */
.c-#{$ns}-text {
  display: inline;
  margin: 0;
}

.c-#{$ns}-text--block {
  display: block;
  width: 100%;

  &:not(.c-#{$ns}-text--heading) {
    margin-bottom: v-spacing(medium);
  }

  &.c-#{$ns}-text--heading {
    margin-bottom: v-spacing(xsmall);

    &.c-#{$ns}-text--xxlarge {
      margin-bottom: v-spacing(medium);
      padding-top: v-spacing(medium);
      padding-bottom: v-spacing(xsmall);

      &:first-child {
        padding-top: 0;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: h-spacing(large);
        height: border-width(thick);
        color: inherit;
        background-color: currentColor;
        opacity: 0.05;
        -webkit-transform: translateY(v-spacing(xsmall));
                transform: translateY(v-spacing(xsmall));
      }
    }

    &.c-#{$ns}-text--display {
      margin-bottom: v-spacing(xsmall);
      margin-left: -0.05em;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/* Heading Link */
.c-#{$ns}-text--heading {
  .c-#{$ns}-link {
    box-shadow: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Gradient Heading */
.c-#{$ns}-text--trendy {
  background-image: linear-gradient(to right, hsl(var(--#{$ns}-color-purple-dark)) 0%, hsl(var(--#{$ns}-color-red-dark)) 8%, hsl(var(--#{$ns}-color-blue-dark)) 40%, hsl(var(--#{$ns}-color-purple)) 66%, hsl(var(--#{$ns}-color-orange-dark)) 100%);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  -webkit-background-clip: text;
  background-color: initial;
  -webkit-text-fill-color: transparent;
}