/*------------------------------------*\
  Text
\*------------------------------------*/

// Type Options
.c-#{$ns}-text {
  font-family: typeface(body);
  font-weight: 400;
}

.c-#{$ns}-text--heading {
  letter-spacing: -0.025em;
  text-shadow: 0.1em 0.1em 1px rgba($background-color, 0.6);
  font-family: typeface(heading);
  font-weight: 400;

  &.c-#{$ns}-text--xsmall {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-family: typeface(smallcap);
    font-weight: 800;
  }
}

.c-#{$ns}-text--lede {
  text-transform: capitalize;
  font-family: typeface(smallcap);
  font-weight: 800;
}

// Size Options
.c-#{$ns}-text--xxlarge {
  font-size: type-size(xxlarge);
}

.c-#{$ns}-text--xlarge,
.c-#{$ns}-text--lede {
  font-size: type-size(xlarge);
}

.c-#{$ns}-text--large {
  font-size: type-size(large);
}

.c-#{$ns}-text--medium {
  font-size: type-size(medium);
}

.c-#{$ns}-text--small {
  font-size: type-size(small);
}

.c-#{$ns}-text--xsmall {
  font-size: type-size(xsmall);
}

.c-#{$ns}-text--display {
  font-size: type-size(xxxlarge-min);

  @include respond-to(small) {
    font-size: type-size(xxxlarge-max);
  }
}


// Display Options
.c-#{$ns}-text {
  display: inline;
}

.c-#{$ns}-text--block {
  display: block;
  margin-top: 0;
  line-height: line-height(regular);

  &:before {
    position: absolute;
    font-family: typeface(body);
    font-weight: 400;
    opacity: 0.2;
    transform: translateX(calc(-100% - #{h-spacing(xxsmall)}));
  }

  &:not(.c-#{$ns}-text--heading) {
    margin-bottom: v-spacing(medium);

    &:before {
      content: '\00B6';
      font-size: type-size(xsmall);
    }
  }

  &.c-#{$ns}-text--lede {
    line-height: line-height(tight);

    &:before {
      display: none;
    }
  }

  &.c-#{$ns}-text--heading {
    margin-bottom: v-spacing(xsmall);
    line-height: line-height(tight);

    &.c-#{$ns}-text--xxlarge {
      margin-bottom: v-spacing(medium);
      padding-top: v-spacing(medium);
      padding-bottom: v-spacing(xsmall);
      line-height: line-height(xtight);

      &:first-child {
        padding-top: 0;
      }

      &:before {
        content: '\00A7';
        font-size: type-size(medium);
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: h-spacing(large);
        height: border-width(thick);
        color: inherit;
        background-color: currentColor;
        opacity: 0.1;
        transform: translateY(v-spacing(xsmall));
      }
    }

    &.c-#{$ns}-text--display {
      margin-bottom: v-spacing(xsmall);
      margin-left: -0.05em;
      line-height: line-height(xtight);

      @include respond-to(small) {
        line-height: line-height(xxtight);
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
