/*------------------------------------*\
  Text
\*------------------------------------*/

// Type Options
.c-#{$ns}-text {
  font-family: typeface(body);
  font-weight: 400;
}

.c-#{$ns}-text--heading {
  letter-spacing: -0.025em;
  font-family: typeface(heading);
  font-weight: 700;

  &.c-#{$ns}-text--xsmall {
    letter-spacing: 0.1em;
    font-family: typeface(smallcap);
  }
}

.c-#{$ns}-text--lede {
  font-family: typeface(smallcap);
  font-weight: 400;
}

// Size Options
.c-#{$ns}-text--xxlarge {
  font-size: type-size(xxlarge);
}

.c-#{$ns}-text--xlarge {
  font-size: type-size(xlarge);
}

.c-#{$ns}-text--large,
.c-#{$ns}-text--lede {
  font-size: type-size(large);
}

.c-#{$ns}-text--medium {
  font-size: type-size(medium);
}

.c-#{$ns}-text--small {
  font-size: type-size(small);
}

.c-#{$ns}-text--xsmall {
  font-size: type-size(xsmall);
}

.c-#{$ns}-text--display {
  font-size: type-size(xxxlarge-min);

  @include respond-to(small) {
    font-size: type-size(xxxlarge-max);
  }
}


// Display Options
.c-#{$ns}-text {
  display: inline;
}

.c-#{$ns}-text--block {
  display: block;
  margin-top: 0;
  line-height: line-height(regular);

  &:not(.c-#{$ns}-text--heading) {
    margin-bottom: v-spacing(medium);
  }

  &.c-#{$ns}-text--heading {
    margin-bottom: v-spacing(xsmall);
    line-height: line-height(tight);

    &.c-#{$ns}-text--xxlarge {
      margin-bottom: v-spacing(small);
      line-height: line-height(xtight);
    }

    &.c-#{$ns}-text--display {
      margin-bottom: v-spacing(small);
      line-height: line-height(xtight);

      @include respond-to(small) {
        margin-bottom: v-spacing(medium);
        line-height: line-height(xxtight);
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
