/* ------------------------------------ *\
   Namespace
\* ------------------------------------ */

$ns: 'mnml' !default; // Namespace for the CSS classes.


/* ------------------------------------ *\
   Google Fonts
\* ------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i|Alegreya+Sans+SC:800|Bungee&display=swap');

/* ------------------------------------ *\
   Basic Configurations
   - For more specific configurations,
     go to settings.
\* ------------------------------------ */

$typefaces: (
  body:     #{'Spectral', 'Georgia', serif},
  heading:  #{'Bungee', Impact, sans-serif},
  smallcap: #{'Alegreya Sans SC', sans-serif},
  mono:     #{monospace, monospace}
) !global;

$font-size:
  // Only edit the px value.
  calc(
    16px
    + 0.25vw
  ) !global;

$text-color:       palette(gray, dark) !global;
$background-color: palette(gray, light) !global;
$link-color:       palette(blue) !global;
