/* ------------------------------------ *\
   Namespace
\* ------------------------------------ */

$ns: 'mnml' !default; /* Namespace for the CSS classes. */


/* ------------------------------------ *\
   Google Fonts
\* ------------------------------------ */

@import url('https://fonts.googleapis.com/css?family=Spectral:400,400i,700,700i|Alegreya+Sans+SC:800|Bungee&display=swap');

/* ------------------------------------ *\
   Basic Configurations
   - For more specific configurations,
     go to settings.
\* ------------------------------------ */

$typefaces: (
  body:     #{'Spectral', 'Georgia', serif},
  heading:  #{'Bungee', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif},
  smallcap: #{'Alegreya Sans SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif},
  mono:     #{'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace}
);

:root {
  --#{$ns}-font-size:
    /* Only edit the % value. */
    calc(
      100%
      + 0.25vw
    );

  --#{$ns}-text-color: var(--#{$ns}-color-gray-dark);
  --#{$ns}-bg-color: var(--#{$ns}-color-gray-light);
  --#{$ns}-link-color: var(--#{$ns}-color-red-dark);
}
