/* ------------------------------------ *\
   Namespace
\* ------------------------------------ */

$ns: 'mnml';


/* ------------------------------------ *\
   Config
\* ------------------------------------ */

$font-size:
  // Only edit the px value.
  calc(
    15px
    + 0.25vw
  ) !default;

$color:                 palette(black) !default;
$background-color:      palette(white) !default;


/*$gray-scale-light:      #DCDCDC;*/
/*$code-color:            #CC0000;*/
/*$code-background-color: lighten($code-color, 59%);*/
/*$link-color:            mediumblue;*/

/*$border-width:          1px;
$border-style:          solid;
$border-color:          $gray-scale-light;
$border:                $border-width $border-style $border-color;*/
