/* ------------------------------------ *\
   Element Groups
\* ------------------------------------ */

// All block elements
$normalize-block-elements-list: 'p',
  'blockquote',
  'details',
  'dd',
  'dl',
  'fieldset',
  'figure',
  'li',
  'ol',
  'pre',
  'ul';

$normalize-unquoted-block-elements-list: ();

@each $element in $normalize-block-elements-list {
  $normalize-unquoted-block-elements-list: append($normalize-unquoted-block-elements-list, unquote($element), comma) !global;
}

$normalize-all-block-elements: $normalize-unquoted-block-elements-list;


// All heading elements
$normalize-heading-elements-list: 'h1',
  'h2',
  'h3',
  'h4',
  'h5',
  'h6';

$normalize-unquoted-heading-elements-list: ();

@each $element in $normalize-heading-elements-list {
  $normalize-unquoted-heading-elements-list: append($normalize-unquoted-heading-elements-list, unquote($element), comma) !global;
}

$normalize-all-heading-elements: $normalize-unquoted-heading-elements-list;


// All text inputs
$normalize-text-input-elements-list: 'input[type=text]',
  'input[type=color]',
  'input[type=date]',
  'input[type=datetime-local]',
  'input[type=email]',
  'input[type=month]',
  'input[type=number]',
  'input[type=password]',
  'input[type=search]',
  'input[type=tel]',
  'input[type=time]',
  'input[type=url]',
  'input[type=week]',
  'textarea';

$normalize-unquoted-text-input-elements-list: ();

@each $element in $normalize-text-input-elements-list {
  $normalize-unquoted-text-input-elements-list: append($normalize-unquoted-text-input-elements-list, unquote($element), comma) !global;
}

$normalize-all-text-input-elements: $normalize-unquoted-text-input-elements-list;


// All button elements
$normalize-button-elements-list: 'button',
  '[type=button]',
  '[type=reset]',
  '[type=submit]',
  '::-webkit-file-upload-button';

$normalize-unquoted-button-elements-list: ();

@each $element in $normalize-button-elements-list {
  $normalize-unquoted-button-elements-list: append($normalize-unquoted-button-elements-list, unquote($element), comma) !global;
}

$normalize-all-button-elements: $normalize-unquoted-button-elements-list;


/* ------------------------------------ *\
   Help Functions
\* ------------------------------------ */

$normalize-grays: (
  medium: dimgray,
  light:  #DCDCDC,
  xlight: #F0F0F0
);

@function normalize-gray($name) {
  @return map-get($normalize-grays, $name);
}

$normalize-typefaces: (
  body:    #{'Georgia', serif},
  heading: #{-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif},
  mono:    #{monospace, monospace}
);

@function normalize-typeface($name) {
  @return map-get($normalize-typefaces, $name);
}

$normalize-type-scales: (
  xxlarge: 2.00,
  xlarge:  1.50,
  large:   1.17,
  medium:  1.00,
  small:   0.83,
  xsmall:  0.67
);

@function normalize-type-scale($name) {
  @return map-get($normalize-type-scales, $name);
}


/* ------------------------------------ *\
   Config
\* ------------------------------------ */

$normalize-font-size:   calc(15px + 0.25vw);

$normalize-line-height: 1.65;
$normalize-gutter:      2;
$normalize-v-spacing:   ($normalize-line-height - (($normalize-line-height - 1) / 2));

$normalize-color:             black;
$normalize-background-color:  white;

$normalize-code-color:            #CC0000;
$normalize-code-background-color: lighten($normalize-code-color, 59%);

$normalize-border-width: 1px;
$normalize-border-style: solid;
$normalize-border-color: normalize-gray(light);
$normalize-border:       $normalize-border-width $normalize-border-style $normalize-border-color;


/* ------------------------------------ *\
   Global resets
\* ------------------------------------ */

*, *:before, *:after {
  box-sizing: border-box;
  font-feature-settings: 'kern';
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
}


/* ------------------------------------ *\
   Modified Normalize.css based on v8.0.0.
\* ------------------------------------ */

// Document

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  color: $normalize-color;
  line-height: $normalize-line-height; /* 1 */
  letter-spacing: 0.01rem;
  font-family: normalize-typeface(body);
  font-size: $normalize-font-size;
  -webkit-text-size-adjust: 100%; /* 2 */
  background-color: $normalize-background-color;
}

// Sections

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Block elements spacing reset.
 */

#{$normalize-all-block-elements},
#{$normalize-all-heading-elements} {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

#{$normalize-all-block-elements} {
  margin-bottom: $normalize-v-spacing + rem;
}

#{$normalize-all-heading-elements} {
  letter-spacing: -0.025rem;
  font-family: normalize-typeface(heading);
}

h2, h3, h4, h5, h6 {
  margin-bottom: ($normalize-v-spacing/4 + rem);
  line-height: 1.375;
}

/**
 * 1. Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  margin-bottom: ($normalize-v-spacing/3 + rem); /* 1 */
  line-height: 1.25;
  font-size: normalize-type-scale(xxlarge) + rem; /* 1 */
}

h2 {
  font-size: normalize-type-scale(xlarge) + rem;
}

h3 {
  font-size: normalize-type-scale(large) + rem;
}

h4 {
  font-size: normalize-type-scale(medium) + rem;
}

h5 {
  font-size: normalize-type-scale(small) + rem;
}

h6 {
  font-size: normalize-type-scale(xsmall) + rem;
}


// Grouping content

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  margin-top: $normalize-v-spacing*2 + rem;
  margin-bottom: $normalize-v-spacing*2 + rem;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: none;
  border-bottom: $normalize-border;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: normalize-typeface(mono); /* 1 */
  font-size: 1rem; /* 2 */
}

pre,
code {
  text-align: left;
}

/**
 * Hanging bullets
 */

ol, ul {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;

  li {
    margin-bottom: ($normalize-v-spacing/8 + rem);
  }
}

/**
 * Hanging quotes
 */

blockquote {
  margin-right: 0;
  margin-left: 0;

  > * {
    margin-bottom: ($normalize-v-spacing/4 + rem);
    font-size: normalize-type-scale(large) + rem;
  }

  q:before {
    position: absolute;
    transform: translateX(-100%);
  }
}

q {
  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

figure {
  margin-right: ($normalize-gutter/2 + rem);
  margin-left: ($normalize-gutter/2 + rem);

  @media only screen and (min-width: 37.499em) {
    margin-right: $normalize-gutter + rem;
    margin-left: $normalize-gutter + rem;
  }
}

figcaption,
blockquote footer {
  color: normalize-gray(medium);
}

/**
 * Generic table
 */

table {
  min-width: calc(100% + 16px);
  margin-right: -8px;
  margin-left: -8px;

  figure &:not(:last-child) {
    margin-bottom: ($normalize-v-spacing/8 + rem);
  }
}

tbody tr:hover {
  background-color: normalize-gray(xlight);
}

th, td {
  padding-right: 7px;
  padding-bottom: 3px;
  padding-left: 7px;
  text-align: left;
  font-size: normalize-type-scale(small) + rem;
  border-bottom: $normalize-border;

  &:not(:first-child) {
    text-align: center;
  }
}

th {
  padding-top: 0;
  white-space: nowrap;
  font-family: normalize-typeface(heading);
  border-bottom-color: inherit;
}

td {
  font-family: normalize-typeface(mono);
}

// Text-level semantics

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline solid normalize-gray(light); /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: 700;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: normalize-typeface(mono); /* 1 */
  font-size: normalize-type-scale(small) + em; /* 2 */
}

code {
  padding: 2px 7px 3px 7px;
  color: $normalize-code-color;
  border: $normalize-border;
  border-radius: 3px;
  background-color: $normalize-code-background-color;

  pre & {
    display: block;
    padding: ($normalize-v-spacing/2.5 + rem) ($normalize-gutter/2 + rem);
    white-space: nowrap;
    overflow: auto;
  }
}

/**
 * Add the correct font size in all browsers.
 */

small,
figcaption {
  font-size: normalize-type-scale(small) + em;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  font-size: normalize-type-scale(xsmall) + em;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Embedded content

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  max-width: 100%;
  border-style: none;

  figure &:not(:last-child) {
    display: block;
    margin-bottom: ($normalize-v-spacing/8 + rem);
  }
}

// Forms

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 * 3. Matching button borders.
 */

button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  line-height: 1.15; /* 1 */
  font-size: normalize-type-scale(medium) + rem; /* 1 */
}

input,
optgroup,
select,
textarea {
  font-family: normalize-typeface(body); /* 1 */
}

#{$normalize-all-text-input-elements},
optgroup,
select {
  padding: 1px 7px 2px 7px;
}

#{$normalize-all-text-input-elements} {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186); /* 3 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to heading font in Safari.
 */

#{$normalize-all-button-elements} {
  font: normalize-typeface(heading); /* 2 */
  font-weight: 400;
  -webkit-appearance: button; /* 1 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the padding in Firefox.
 */

fieldset {
  padding: ($normalize-v-spacing/2 + rem) ($normalize-gutter + rem) ($normalize-v-spacing + rem) ($normalize-gutter + rem); /* 1 */
  border: $normalize-border;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: $normalize-color; /* 2 */
  white-space: normal; /* 1 */
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-family: normalize-typeface(heading);
  font-weight: 700;
  font-size: normalize-type-scale(xsmall) + rem;
  box-sizing: border-box; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
  padding: 0; /* 2 */
  box-sizing: border-box; /* 1 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  outline-offset: -2px; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

label {
  display: inline-block;
  line-height: inherit;
  cursor: pointer;
  vertical-align: top;
}

// Interactive

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
  margin-bottom: ($normalize-v-spacing/4 + rem);
  cursor: pointer;
}

// Misc

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
