/* ------------------------------------ *\
   Global resets
\* ------------------------------------ */

*, *:before, *:after {
  box-sizing: border-box;
  font-feature-settings: 'kern';
  font-kerning: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
}


/* ------------------------------------ *\
   Modified Normalize.css based on v8.0.0.
\* ------------------------------------ */

// Document

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  color: $color;
  line-height: $line-height; /* 1 */
  letter-spacing: 0.01rem;
  font-family: $font-family-body;
  font-size: $font-size;
  -webkit-text-size-adjust: 100%; /* 2 */
  background-color: $background-color;
}

// Sections

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Block elements spacing reset.
 */

#{$all-block-elements},
#{$all-heading-elements} {
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

#{$all-block-elements} {
  margin-bottom: $v-spacing + rem;
}

#{$all-heading-elements} {
  letter-spacing: -0.025rem;
  font-family: $font-family-heading;
}

h2, h3, h4, h5, h6 {
  margin-bottom: ($v-spacing/4 + rem);
  line-height: 1.375;
}

/**
 * 1. Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  margin-bottom: ($v-spacing/3 + rem); /* 1 */
  line-height: 1.25;
  font-size: $font-scale-xxlarge + rem; /* 1 */
}

h2 {
  font-size: $font-scale-xlarge + rem;
}

h3 {
  font-size: $font-scale-large + rem;
}

h4 {
  font-size: $font-scale-medium + rem;
}

h5 {
  font-size: $font-scale-small + rem;
}

h6 {
  font-size: $font-scale-xsmall + rem;
}


// Grouping content

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  margin-top: $v-spacing*2 + rem;
  margin-bottom: $v-spacing*2 + rem;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: $border;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: $font-family-mono; /* 1 */
  font-size: 1rem; /* 2 */
}

pre,
code {
  text-align: left;
}

/**
 * Hanging bullets
 */

ol, ul {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;

  li {
    margin-bottom: ($v-spacing/8 + rem);
  }
}

/**
 * Hanging quotes
 */

blockquote {
  margin-right: 0;
  margin-left: 0;

  > * {
    margin-bottom: ($v-spacing/4 + rem);
    font-size: $font-scale-large + rem;
  }

  q:before {
    position: absolute;
    transform: translateX(-100%);
  }
}

q {
  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }
}

figure {
  margin-right: ($gutter/2 + rem);
  margin-left: ($gutter/2 + rem);

  @include respond-to(small) {
    margin-right: $gutter + rem;
    margin-left: $gutter + rem;
  }
}

figcaption,
blockquote footer {
  color: dimgray;
}

/**
 * Generic table
 */

table {
  min-width: calc(100% + 16px);
  margin-right: -8px;
  margin-left: -8px;

  figure &:not(:last-child) {
    margin-bottom: ($v-spacing/8 + rem);
  }
}

tbody tr:hover {
  background-color: $gray-scale-xlight;
}

th, td {
  padding-right: 7px;
  padding-bottom: 3px;
  padding-left: 7px;
  text-align: left;
  font-size: $font-scale-small + rem;
  border-bottom: $border;

  &:not(:first-child) {
    text-align: center;
  }
}

th {
  padding-top: 0;
  white-space: nowrap;
  font-family: $font-family-heading;
  border-bottom-color: currentColor;
}

td {
  font-family: $font-family-mono;
}

// Text-level semantics

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline solid darkgray; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: 700;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: $font-family-mono; /* 1 */
  font-size: $font-scale-small + em; /* 2 */
}

code {
  padding: 2px 7px 3px 7px;
  color: $code-color;
  border: $border;
  border-radius: 3px;
  background-color: $code-background-color;

  pre & {
    display: block;
    padding: ($v-spacing/2.5 + rem) ($gutter/2 + rem);
    white-space: nowrap;
    overflow: auto;
  }
}

/**
 * Add the correct font size in all browsers.
 */

small,
figcaption {
  font-size: $font-scale-small + em;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  font-size: $font-scale-xsmall + em;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

// Embedded content

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  max-width: 100%;
  border-style: none;

  figure &:not(:last-child) {
    display: block;
    margin-bottom: ($v-spacing/8 + rem);
  }
}

// Forms

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 * 3. Matching button borders.
 */

button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  line-height: 1.15; /* 1 */
  font-size: $font-scale-medium + rem; /* 1 */
}

input,
optgroup,
select,
textarea {
  font-family: $font-family-body; /* 1 */
}

#{$all-text-input-elements},
optgroup,
select {
  padding: 1px 7px 2px 7px;
}

#{$all-text-input-elements} {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186); /* 3 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to heading font in Safari.
 */

#{$all-button-elements} {
  font: $font-family-heading; /* 2 */
  font-weight: 400;
  -webkit-appearance: button; /* 1 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the padding in Firefox.
 */

fieldset {
  padding: ($v-spacing/2 + rem) ($gutter + rem) ($v-spacing + rem) ($gutter + rem); /* 1 */
  border: $border;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: $color; /* 2 */
  white-space: normal; /* 1 */
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-family: $font-family-heading;
  font-weight: 700;
  font-size: $font-scale-xsmall + rem;
  box-sizing: border-box; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
  padding: 0; /* 2 */
  box-sizing: border-box; /* 1 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
  outline-offset: -2px; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

label {
  display: inline-block;
  line-height: inherit;
  cursor: pointer;
  vertical-align: top;
}

// Interactive

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
  margin-bottom: ($v-spacing/4 + rem);
  cursor: pointer;
}

// Misc

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
