/* ------------------------------------ *\
   Interactive Tools
\* ------------------------------------ */

@mixin button-reset {
  text-align: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
  appearance: none;
}

@mixin interactive-text-and-bg($position: relative) {
  @if $position {
    position: $position;
  }

  outline: none;
  backdrop-filter: blur(0.25rem);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition:
    color transition-timing(regular) ease-out,
    transform transition-timing(regular) ease-out;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background:
      linear-gradient(216deg, rgba(palette(green), .6), rgba(palette(green), 0) 70.71%),
      linear-gradient(100deg, rgba(palette(purple), .6), rgba(palette(purple), 0) 70.71%),
      linear-gradient(336deg, rgba(palette(orange), .6), rgba(palette(orange), 0) 70.71%);
    background-blend-mode: darken;
    transition: opacity transition-timing(regular) ease-out;
  }

  &:hover,
  &:focus {
    color: $link-color;

    &:before {
      opacity: 0.25;
    }
  }

  &:focus {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }

  &:active {
    color: $text-color;
    animation: none;
    transform: scale3d(0.99, 0.99, 0.99) translate3d(0, 0, 0);

    &:before {
      opacity: 0.5;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  50% {
    transform: scale3d(1.01, 1.01, 1.01) translate3d(0, 0, 0);
  }
  100% {
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}
