/* ------------------------------------ *\
   Interactive Tools
\* ------------------------------------ */

@mixin button-reset {
  text-align: inherit;
  font: inherit;
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@mixin interactive-text-and-bg($position: relative) {
  @if $position {
    position: $position;
  }

  color: $text-color;
  outline: none;
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
          transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  -webkit-transition: all transition-timing(regular) ease-out;
  transition: all transition-timing(regular) ease-out;

  &::-moz-focus-inner {
    border: 0;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Puts the gradient below all content by default. */
    opacity: 0.25;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background:
      linear-gradient(216deg, rgba(palette(green), .6), rgba(palette(green), 0) 70.71%),
      linear-gradient(100deg, rgba(palette(purple), .6), rgba(palette(purple), 0) 70.71%),
      linear-gradient(336deg, rgba(palette(orange), .6), rgba(palette(orange), 0) 70.71%);
    background-blend-mode: darken;
    -webkit-transition: opacity transition-timing(regular) ease-out;
    transition: opacity transition-timing(regular) ease-out;
  }

  &:hover,
  &:focus {
    color: $link-color;

    &:before {
      opacity: 0.35;
    }
  }

  &:focus {
    @include shadow-border(thin, rgba($link-color, 0.8));
    -webkit-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }

  &:active {
    color: $text-color;
    -webkit-animation: none;
            animation: none;
    -webkit-transform: scale3d(0.98, 0.98, 0.98) translate3d(0, 0, 0);
            transform: scale3d(0.98, 0.98, 0.98) translate3d(0, 0, 0);

    &:before {
      opacity: 0.5;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01) translate3d(0, 0, 0);
            transform: scale3d(1.01, 1.01, 1.01) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
  50% {
    -webkit-transform: scale3d(1.01, 1.01, 1.01) translate3d(0, 0, 0);
            transform: scale3d(1.01, 1.01, 1.01) translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
            transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}
