@mixin native-button-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  font: inherit;
  text-align: inherit;
  cursor: pointer;
  border: 0;
  background: transparent;
}
