@mixin native-button-reset($cursor: null) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  border: 0;
  background: transparent;

  @if $cursor == auto {
    cursor: auto;
  } @else {
    cursor: pointer;
  }
}
