/*------------------------------------*\
  Spacing Tools
\*------------------------------------*/

@function line-height($name) {
  @return map-get($line-height-values, $name);
}

@function v-spacing($name) {
  @return map-get($v-spacing-values, $name);
}

@function h-spacing($name) {
  @return map-get($h-spacing-values, $name);
}

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin inset-spacing($name) {
  @if $name == comfortable {
    padding-top: v-spacing(large);
    padding-right: h-spacing(medium);
    padding-bottom: v-spacing(large);
    padding-left: h-spacing(medium);
  }
  @elseif $name == cozy {
    padding-top: v-spacing(small);
    padding-right: h-spacing(small);
    padding-bottom: v-spacing(small);
    padding-left: h-spacing(small);
  }
  @else {
    padding-top: v-spacing(xsmall);
    padding-right: h-spacing(xsmall);
    padding-bottom: v-spacing(xsmall);
    padding-left: h-spacing(xsmall);
  }
}

@mixin offset-spacing($name) {
  @if $name == comfortable {
    width: calc(100% + #{h-spacing(medium) * 2});
    max-width: calc(100% + #{h-spacing(medium) * 2});
    margin-top: v-spacing(large) * -1;
    margin-right: h-spacing(medium) * -1;
    margin-bottom: v-spacing(large) * -1;
    margin-left: h-spacing(medium) * -1;
  }
  @elseif $name == cozy {
    width: calc(100% + #{h-spacing(small) * 2});
    max-width: calc(100% + #{h-spacing(small) * 2});
    margin-top: v-spacing(small) * -1;
    margin-right: h-spacing(small) * -1;
    margin-bottom: v-spacing(small) * -1;
    margin-left: h-spacing(small) * -1;
  }
  @else {
    width: calc(100% + #{h-spacing(xsmall) * 2});
    max-width: calc(100% + #{h-spacing(xsmall) * 2});
    margin-top: v-spacing(xsmall) * -1;
    margin-right: h-spacing(xsmall) * -1;
    margin-bottom: v-spacing(xsmall) * -1;
    margin-left: h-spacing(xsmall) * -1;
  }
}
