/*------------------------------------*\
  Spacing Tools
\*------------------------------------*/

@function line-height($name) {
  @return map-get($line-height-values, $name);
}

@function v-spacing($name) {
  @return map-get($v-spacing-values, $name);
}

@function h-spacing($name) {
  @return map-get($h-spacing-values, $name);
}

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin inset-spacing($name) {
  @if $name == comfortable {
    padding-top: v-spacing(large);
    padding-right: h-spacing(medium);
    padding-bottom: v-spacing(large);
    padding-left: h-spacing(medium);
  }
  @elseif $name == cozy {
    padding-top: v-spacing(small);
    padding-right: h-spacing(small);
    padding-bottom: v-spacing(small);
    padding-left: h-spacing(small);
  }
  @else {
    padding-top: v-spacing(xsmall);
    padding-right: h-spacing(xsmall);
    padding-bottom: v-spacing(xsmall);
    padding-left: h-spacing(xsmall);
  }
}
