---
index: true
mode: dark
---
{% include body-start.html %}

  <header role="banner" class="c-{{ site.ns }}-plane c-{{ site.ns }}-plane--xlarge-width c-{{ site.ns }}-plane--full-height c-{{ site.ns }}-plane--h-inset-medium c-{{ site.ns }}-plane--v-inset-medium u-{{ site.ns }}-text-align-center">
    <div class="c-{{ site.ns }}-plane-deck c-{{ site.ns }}-plane-deck--upper">
      <div class="c-{{ site.ns }}-plane-deck__content">
        <div class="c-{{ site.ns }}-plane-deck__content__item">M</div>
        <div class="c-{{ site.ns }}-plane-deck__content__item">I</div>
        <div class="c-{{ site.ns }}-plane-deck__content__item">N</div>
      </div>
    </div>
    <div class="c-{{ site.ns }}-plane-cabin">
      <!-- <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--xsmall">Mike Mai Network Design System</p> -->
      <!-- <h1 class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--display">Minimalist</h1> -->
      <h1 class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--display">I</h1>
    </div>
    <div class="c-{{ site.ns }}-plane-deck c-{{ site.ns }}-plane-deck--lower">
      <div class="c-{{ site.ns }}-plane-deck__content">
        <div class="c-{{ site.ns }}-plane-deck__content__item">M</div>
        <div class="c-{{ site.ns }}-plane-deck__content__item">A</div>
        <div class="c-{{ site.ns }}-plane-deck__content__item">L</div>
      </div>
    </div>
  </header>

{% include body-end.html %}
