---
index: true
---
{% include body-start.html %}

  <header class="c-{{ site.ns }}-plane c-{{ site.ns }}-plane--trendy-af c-{{ site.ns }}-plane--xlarge-width c-{{ site.ns }}-plane--full-height c-{{ site.ns }}-plane--h-inset-small c-{{ site.ns }}-plane--v-inset-xlarge">
    <div class="c-{{ site.ns }}-plane-background" style="opacity: 0.1">
      <img src="src/img/hero-walk.jpg" alt="">
    </div>
    <div class="c-{{ site.ns }}-plane-deck c-{{ site.ns }}-plane-deck--upper">
      <div class="c-{{ site.ns }}-plane-deck__content">
        <div class="c-{{ site.ns }}-plane-deck__content__item">
          <h1 class="u-{{ site.ns }}-visuallyhidden">Mike Mai, Designer/Coder</h1>
        </div>
        <div class="c-{{ site.ns }}-plane-deck__content__item">
          <label for="color-scheme" class="cs-{{ site.ns }}-switch">
            <span class="cs-{{ site.ns }}-switch__text">
              <span class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--xsmall">Switch color scheme</span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="c-{{ site.ns }}-plane-cabin">
      <div class="c-{{ site.ns }}-list c-{{ site.ns }}-list--ui is-comfortable lay-horizontal">
        <a href="#bio" class="c-{{ site.ns }}-list__item">
          <span class="c-{{ site.ns }}-text c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--xsmall">Hello, I am Mike Mai.</span>
          <span class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--xlarge">UIX designer &amp; coder str8 outta China</span>
          <img src="src/img/head-8bit.png" aria-hidden="true" class="c-{{ site.ns }}-avatar c-{{ site.ns }}-avatar--block c-{{ site.ns }}-avatar--transparent c-{{ site.ns }}-avatar--medium u-{{ site.ns }}-margin-top-auto">
        </a>
        <section class="c-{{ site.ns }}-list__item">
          <h2 class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--small"><strong>Did you know?</strong> This website is built using my own <a href="javascript:" class="c-{{ site.ns }}-link">minimalist framework</a> with the core concept of Lists.</h2>
          <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--small">I also used the same framework to rebuild popular home pages from the 90s such as Google, Angelfire, and AOL.</p>
          <a href="component-list.html" class="c-{{ site.ns }}-button c-{{ site.ns }}-text--block u-{{ site.ns }}-margin-top-auto">Learn more</a>
        </section>
        <section class="c-{{ site.ns }}-list__item">
          <h2 class="u-{{ site.ns }}-visuallyhidden">About Me</h2>
          <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--small"><strong>My current gig:</strong> Principal UIX Designer, <a href="javascript:" class="c-{{ site.ns }}-link">Bolt Design System</a>, Pegasystems.</p>
          <hr>
          <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--small"><strong>My specialties:</strong> typography, design system thinking, UX design, UI design, HTML, CSS, and web accessibility.</p>
          <hr>
          <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--small"><strong>Coffee or tea?</strong> Tea, always.</p>
        </section>
        <section class="c-{{ site.ns }}-list__item">
          <h2 class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--medium">My Side Projects</h2>
          <ul class="c-{{ site.ns }}-list c-{{ site.ns }}-list--unordered">
            <li class="c-{{ site.ns }}-list__item">
              <div class="c-{{ site.ns }}-text c-{{ site.ns }}-text--small">
                <a href="javascript:" class="c-{{ site.ns }}-link">Command Shift 3 (my blog)</a>
              </div>
            </li>
            <li class="c-{{ site.ns }}-list__item">
              <div class="c-{{ site.ns }}-text c-{{ site.ns }}-text--small">
                <a href="javascript:" class="c-{{ site.ns }}-link">Typesettings.css</a>
              </div>
            </li>
            <li class="c-{{ site.ns }}-list__item">
              <div class="c-{{ site.ns }}-text c-{{ site.ns }}-text--small">
                <a href="javascript:" class="c-{{ site.ns }}-link">Helvetica Sux</a>
              </div>
            </li>
            <li class="c-{{ site.ns }}-list__item">
              <div class="c-{{ site.ns }}-text c-{{ site.ns }}-text--small">
                <a href="javascript:" class="c-{{ site.ns }}-link">I Love Eurostile</a>
              </div>
            </li>
            <li class="c-{{ site.ns }}-list__item">
              <div class="c-{{ site.ns }}-text c-{{ site.ns }}-text--small">
                <a href="javascript:" class="c-{{ site.ns }}-link">NoProBono.info</a>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="c-{{ site.ns }}-plane-deck c-{{ site.ns }}-plane-deck--lower">
      <div class="c-{{ site.ns }}-plane-deck__content">
        <span class="c-{{ site.ns }}-plane-deck__content__item">
          <span class="c-{{ site.ns }}-text c-{{ site.ns }}-text--xsmall">&copy; Mike Mai Network</span>
        </span>
        <span class="c-{{ site.ns }}-plane-deck__content__item">
          <span class="c-{{ site.ns }}-text c-{{ site.ns }}-text--xsmall">Since 1984</span>
        </span>
      </div>
    </div>
  </header>

  <aside class="c-{{ site.ns }}-plane c-{{ site.ns }}-plane--trendy c-{{ site.ns }}-plane--article-width c-{{ site.ns }}-plane--full-height c-{{ site.ns }}-plane--h-inset-medium c-{{ site.ns }}-plane--v-inset-xlarge cs-{{ site.ns }}-dark">
    <div class="c-{{ site.ns }}-plane-background">
      <img src="src/img/hero-walk.jpg" alt="Black and white photo of Mike smiling and walking.">
    </div>
    <div class="c-{{ site.ns }}-plane-cabin">
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--lede">Great design requires both form and function. Favoring one over the other will greatly affect a design&rsquo;s ability to communicate. Striking a balance between the two is something I dwell on every single day.</p>
    </div>
  </aside>

  <article class="c-{{ site.ns }}-plane c-{{ site.ns }}-plane--article-width c-{{ site.ns }}-plane--full-height c-{{ site.ns }}-plane--h-inset-medium c-{{ site.ns }}-plane--v-inset-xxlarge" id="bio">
    <div class="c-{{ site.ns }}-plane-cabin">
      <h3 class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--xxlarge">Designer</h3>
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block">I have been working as a designer for 11+ years. I received my BFA in graphic design from Massachusetts College of Art and Design, where I developed my passion for typography. That passion drove me to what I wanted to be: designing for the web. Because the web is 99% text <mark>(unverified <emoji>😅</emoji>)</mark>, typography is the most important foundation of a website. Picking typefaces and typesetting are my first tasks when starting any web projects.</p>
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block">Many think that design is all about aesthetics, but a wise mentor once told me that &ldquo;design is about solving problems, first and foremost&rdquo;. My obsession of becoming a true designer drove me to what I am today: designing for the accessible web. While polished typographic styles create good forms, more is needed: functions. And more importantly, the experience of said functions. I mull over the user experience of every design I create. My designs must be intuitive and inclusive.</p>
      <h3 class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--xxlarge">&amp; Coder</h3>
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block">Regardless what you are designing, it is important to pick the right tool. For the web, that tool is code.</p>
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block">What is better than working in the exact medium that you are designing for? Nothing. That is the reason I learned to code. I see HTML and CSS as a design tool, just like Adobe XD, Sketch, or Figma, but it is a tool that does not create a layer of abstraction. If one can read and write HTML and CSS, one can fully understand the limitations of the current web technology. When equipped with such knowledge, a designer can easily rapid prototype designs that closely resemble their design philosophy. Great designers pay attention to the smallest details, and the right tool enables them to massage the design as much as possible.</p>
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block">Not only do I design with code, I also design in the code. Semantics is a big deal on the web, it leads to better performance, better accessibility, and better SEO. While it is technically possible to build a website with just a bunch of <code class="c-{{ site.ns }}-code">&lt;div&gt;</code>s&mdash;a generic element that carries no semantics, it is important to know that there are close to 100 HTML elements available for use. If a design has a specific information architecture visually, the same must be represented in code.</p>
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block">Always remember: <strong>form and function</strong>.</p>
    </div>
  </article>

  <!-- <div class="c-{{ site.ns }}-plane c-{{ site.ns }}-plane--article-width c-{{ site.ns }}-plane--full-height c-{{ site.ns }}-plane--h-inset-medium c-{{ site.ns }}-plane--v-inset-xlarge">
    <div class="c-{{ site.ns }}-plane-cabin">
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--display">Never gonna give you up&hellip;</p>
    </div>
  </div>

  <div class="c-{{ site.ns }}-plane c-{{ site.ns }}-plane--article-width c-{{ site.ns }}-plane--full-height c-{{ site.ns }}-plane--h-inset-medium c-{{ site.ns }}-plane--v-inset-xlarge">
    <div class="c-{{ site.ns }}-plane-cabin">
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--display">Never gonna let you down&hellip;</p>
    </div>
  </div>

  <div class="c-{{ site.ns }}-plane c-{{ site.ns }}-plane--article-width c-{{ site.ns }}-plane--full-height c-{{ site.ns }}-plane--h-inset-medium c-{{ site.ns }}-plane--v-inset-xlarge">
    <div class="c-{{ site.ns }}-plane-cabin">
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--display">Never gonna run around &amp; desert you&hellip;</p>
    </div>
  </div>

  <div class="c-{{ site.ns }}-plane c-{{ site.ns }}-plane--article-width c-{{ site.ns }}-plane--full-height c-{{ site.ns }}-plane--h-inset-medium c-{{ site.ns }}-plane--v-inset-xlarge">
    <div class="c-{{ site.ns }}-plane-cabin">
      <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--heading c-{{ site.ns }}-text--display">Bonus content unlocked!</p>
    </div>
  </div> -->

{% include body-end.html %}
