<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en-us{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% if page.name == "index.html" %}{{ site.author }}: {{ site.title }} | {{ site.subtitle }}{% else %}{{ page.title }} | {{ site.author }}{% endif %}</title>
  <link rel="stylesheet" href="src/styles/main.css">
  <link rel="preload" type="image" href="{{ site.s3 }}/2017/img-hero-beer@900.jpg">
  <meta name="description" content="{% if page.name == 'index.html' %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">
  <link rel="canonical" href="{% if page.name == 'index.html' %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@mikemai2awesome">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{% if page.name == 'index.html' %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">
  <meta property="twitter:url" content="{% if page.name == 'index.html' %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">
  <meta name="twitter:title" property="og:title" content="{% if page.name == "index.html" %}{{ site.author }}: {{ site.title }} | {{ site.subtitle }}{% else %}{{ page.title }} | {{ site.author }}{% endif %}">
  <meta name="twitter:image" content="{{ site.s3 }}/2017/img-profile.jpg">
  <meta property="og:image" content="{{ site.s3 }}/assets/img/ios/h/touch-icon-ipad-retina.png">
  <meta name="twitter:description" property="og:description" content="{% if page.name == 'index.html' %}{{ site.description }}{% else %}{{ page.description }}{% endif %}">
  <link rel="me" href="https://github.com/mikemai2awesome">
  <link rel="me" href="https://twitter.com/mikemai2awesome">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.s3 }}/assets/img/ios/h/touch-icon-ipad-retina.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.s3 }}/assets/img/ios/h/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.s3 }}/assets/img/ios/m/apple-touch-icon.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.s3 }}/assets/img/ios/l/apple-touch-icon-precomposed.png">
  <link rel="icon" href="{{ site.s3 }}/assets/img/favicon.ico">
</head>
  
<body class="c-{{ site.ns }}-body {% if page.color-scheme %}cs-{{ site.ns }}-{{ page.color-scheme }}{% endif %}">
  {% if page.color-scheme-switch %}<input type="checkbox" name="color-scheme" id="color-scheme" checked aria-label="Toggle Color Scheme" role="switch">{% endif %}
