@mixin _dark-rules {
  /* Set the regular light theme colors */
  color: hsl(var(--#{$ns}-text-color)) !important;
  background-color: hsl(var(--#{$ns}-bg-color)) !important;

  /* Then invert the colors */
  filter: invert(100%) !important;

  /* Preserving raster images and embeds */
  img:not([src*='.svg']),
  video,
  embed,
  iframe,
  emoji {
    filter: invert(100%) !important;
  }
}

.cs-#{$ns}-dark {
  @include _dark-rules;
}

@media (prefers-color-scheme: dark) {
  .cs-#{$ns}-auto {
    @include _dark-rules;
  }
}
