.t-#{$ns}-dark {
  background-color: $background-color; /* This is the opposite of what you want... */
  filter: invert(100%); /* ...because this whole container will invert all colors. */

  img:not([src*='.svg']),
  video {
     filter: invert(100%); /* Preserving raster images. */
  }
}
