.t-#{$ns}-dark {
  // Set the regular light theme colors
  color: $text-color;
  background-color: $background-color;

  // Then invert the colors
  filter: invert(100%);

  // Preserving raster images and embeds
  img:not([src*='.svg']),
  video,
  embed,
  iframe {
    filter: invert(100%);
  }
}
