.u-#{$ns}-text-align-start {
  text-align: left !important;
  text-align: start !important;
}

.u-#{$ns}-text-align-end {
  text-align: right !important;
  text-align: end !important;
}

.u-#{$ns}-text-align-justify {
  text-align: justify !important;
}

.u-#{$ns}-text-align-center {
  text-align: center !important;
}
