/* ------------------------------------ *\
   Global elements
\* ------------------------------------ */

*, *:before, *:after {
  box-sizing: border-box;
  font-feature-settings: 'kern';
  -webkit-font-kerning: normal;
          font-kerning: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: antialiased !important;
}

html {
  line-height: $line-height;
  letter-spacing: 0.005rem;
  font-family: typeface(body);
  font-size: $font-size;
  -webkit-text-size-adjust: 100%;
}

#{$all-block-elements} {
  margin-top: 0;
  margin-bottom: v-spacing(medium);

  &:last-child {
    margin-bottom: 0;
  }
}

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline;
  font-size: strip-unit(type-size(xsmall)) + em;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

hr {
  margin-top: v-spacing(medium);
  margin-bottom: v-spacing(medium);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: none;
  border-bottom: border-width(thin) solid rgba($text-color, 0.1);
}
