{% include body-start.html %}

{{ content }}

<div class="c-{{ site.ns }}-toast c-{{ site.ns }}-toast--bottom">
  <p class="c-{{ site.ns }}-text c-{{ site.ns }}-text--block c-{{ site.ns }}-text--small u-{{ site.ns }}-text-align-center"><strong>Remake 1998:</strong><br><a href="remake-google.html" class="c-{{ site.ns }}-link">Google</a> / <a href="remake-angelfire.html" class="c-{{ site.ns }}-link">Angelfire</a> / <a href="remake-aol.html" class="c-{{ site.ns }}-link">AOL</a></p>
</div>

{% include body-end.html %}
