/*------------------------------------*\
  Breakpoint Settings
\*------------------------------------*/

$_breakpoints: (
  xxsmall:  20em,
  xsmall:   25em,
  small:    37.5em,
  medium:   50em,
  large:    62.5em,
  xlarge:   75em,
  xxlarge:  87.5em,
  xxxlarge: 120em
);
