/* ------------------------------------ *\
   Color Settings
\* ------------------------------------ */

$color-white:     white !default;
$color-black:     darken($color-white,100%) !default;
$color-gray:      darken($color-white,45%) !default;
$color-off-white: darken($color-white,4%) !default;
$color-off-black: darken($color-white,90%) !default;
$color-yellow:    yellow !default;
$color-green:     #28a228 !default;
$color-blue:      #3455db !default;
$color-purple:    #9b59b6 !default;
$color-gold:      #b8860b !default;
$color-orange:    #ff4500 !default;
$color-red:       #ff0000 !default;

// Color palettes
$palettes: (
  blue: (
    xlight:  mix($color-white, $color-blue, 65%),
    light:   mix($color-white, $color-blue, 10%),
    initial: $color-blue,
    dark:    mix($color-black, $color-blue, 25%),
    xdark:   mix($color-black, $color-blue, 55%),
  ),
  purple: (
    light:   mix($color-white, $color-purple, 25%),
    initial: $color-purple,
    dark:    mix($color-black, $color-purple, 50%)
  ),
  yellow: (
    light:   mix($color-white, $color-yellow, 25%),
    initial: $color-yellow,
    dark:    mix($color-black, $color-yellow, 50%)
  ),
  green: (
    light:   mix($color-white, $color-green, 25%),
    initial: $color-green,
    dark:    mix($color-black, $color-green, 40%)
  ),
  red: (
    light:   mix($color-white, $color-red, 25%),
    initial: $color-red,
    dark:    mix($color-black, $color-red, 40%)
  ),
  orange: (
    light:   mix($color-white, $color-orange, 25%),
    initial: $color-orange,
    dark:    mix($color-black, $color-orange, 50%)
  ),
  gold: (
    light:   mix($color-white, $color-gold, 25%),
    initial: $color-gold,
    dark:    mix($color-black, $color-gold, 50%)
  ),
  gray: (
    light:   $color-off-white,
    initial: $color-gray,
    dark:    $color-off-black
  ),
  black: (
    initial: $color-black
  ),
  white: (
    initial: $color-white
  ),
) !default;
