/* ------------------------------------ *\
   Color Settings
\* ------------------------------------ */

$hsl-color-values: (
  'blue': (
    xlight: (228.1, 70%, 70%),
    light: (228.1, 70%, 60%),
    initial: (228.1, 70%, 50%),
    dark: (228.1, 70%, 35%),
    xdark: (228.1, 70%, 20%),
  ),
  'purple': (
    light: (282.6, 55%, 60%),
    initial: (282.6, 55%, 45%),
    dark: (282.6, 55%, 25%),
  ),
  'green': (
    light: (120, 60%, 55%),
    initial: (120, 60%, 40%),
    dark: (120, 60%, 25%),
  ),
  'red': (
    light: (0, 100%, 55%),
    initial: (0, 100%, 40%),
    dark: (0, 100%, 30%),
  ),
  'orange': (
    light: (16.2, 100%, 60%),
    initial: (16.2, 100%, 50%),
    dark: (16.2, 100%, 35%),
  ),
  'gold': (
    light: (42.7, 90%, 60%),
    initial: (42.7, 90%, 50%),
    dark: (42.7, 90%, 35%),
  ),
  'gray': (
    light: (0, 0%, 96%),
    initial: (0, 0%, 55%),
    dark: (0, 0%, 10%),
  ),
  'black': (
    initial: (0, 0%, 1%),
  ),
  'white': (
    initial: (0, 0%, 100%),
  ),
);
