/* ------------------------------------ *\
   Namespace
\* ------------------------------------ */

$ns: 'mnml';


/* ------------------------------------ *\
   Config
\* ------------------------------------ */

$line-height:           1.65;
$gutter:                2;
$font-size:             calc(15px + 0.25vw);

$color:                 black;
$background-color:      white;
$gray-scale-light:      #DCDCDC;
$gray-scale-xlight:     #F0F0F0;
$code-color:            #CC0000;
$code-background-color: lighten($code-color, 59%);
$link-color:            mediumblue;

$border-width:          1px;
$border-style:          solid;
$border-color:          $gray-scale-light;
$border:                $border-width $border-style $border-color;
