/*------------------------------------*\
  Spacing Settings
\*------------------------------------*/

$h-spacing:    2rem !default;
$v-spacing:    1.25rem !default;

$v-spacing-values: (
  xxlarge:     $v-spacing * 8,
  xlarge:      $v-spacing * 4,
  large:       $v-spacing * 2,
  medium:      $v-spacing * 1,
  small:       $v-spacing * .5,
  xsmall:      $v-spacing * .25,
  xxsmall:     $v-spacing * .125
) !default;

$h-spacing-values: (
  xxlarge:     $h-spacing * 8,
  xlarge:      $h-spacing * 4,
  large:       $h-spacing * 2,
  medium:      $h-spacing * 1,
  small:       $h-spacing * .5,
  xsmall:      $h-spacing * .25,
  xxsmall:     $h-spacing * .125
) !default;
