/*------------------------------------*\
  Spacing Settings
\*------------------------------------*/

$line-height:  1.5 !default;
$gutter:       2rem !default;

$line-height-values: (
  xxtight:     $line-height * 0.75,
  xtight:      $line-height * 0.83,
  tight:       $line-height * 0.92,
  regular:     $line-height * 1,
  loose:       $line-height * 1.17
) !default;

$h-spacing:    $gutter !default;
$v-spacing:    1rem !default;

$v-spacing-values: (
  xxlarge:     $v-spacing * 8,
  xlarge:      $v-spacing * 4,
  large:       $v-spacing * 2,
  medium:      $v-spacing * 1,
  small:       $v-spacing * .5,
  xsmall:      $v-spacing * .25,
  xxsmall:     $v-spacing * .125
) !default;

$h-spacing-values: (
  xxlarge:     $h-spacing * 8,
  xlarge:      $h-spacing * 4,
  large:       $h-spacing * 2,
  medium:      $h-spacing * 1,
  small:       $h-spacing * .5,
  xsmall:      $h-spacing * .25,
  xxsmall:     $h-spacing * .125
) !default;
