/*------------------------------------*\
  Typography Settings
\*------------------------------------*/

$typefaces: (
  body:     #{'Georgia', serif},
  heading:  #{-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif},
  smallcap: #{-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif},
  mono:     #{'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace}
) !default;

$type-size-values: (
  xxxlarge-max: 4rem,
  xxxlarge-min: 3rem,
  xxlarge:      2.25rem,
  xlarge:       1.85rem,
  large:        1.45rem,
  medium:       1.00rem,
  small:        0.85rem,
  xsmall:       0.65rem,
  xxsmall:      0.5rem
) !default;

$line-height:  1.5 !default;

$line-height-values: (
  xxtight:     $line-height * 0.75,
  xtight:      $line-height * 0.83,
  tight:       $line-height * 0.92,
  regular:     $line-height * 1,
  loose:       $line-height * 1.17
) !default;
