/*------------------------------------*\
  Typography Settings
\*------------------------------------*/

$typefaces: (
  body:    #{'Georgia', serif},
  heading: #{-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', sans-serif},
  mono:    #{monospace, monospace}
);

$type-scales: (
  xxxlarge-max: 3.50,
  xxxlarge-min: 2.25,
  xxlarge:      2.00,
  xlarge:       1.50,
  large:        1.17,
  medium:       1.00,
  small:        0.83,
  xsmall:       0.67
);
