/*------------------------------------*\
  Z-Index Settings
\*------------------------------------*/

$z-indexes: (
  content-low: (),
  content: (),
  content-high: (),
  floating-low: (),
  floating: (),
  floating-high: (),
  overlay: (),
) !default;
