/*------------------------------------*\
  Z-Index Settings
\*------------------------------------*/

$z-indexes: (
  background: (),
  content: (),
  popover: (),
  tooltip: (),
  nav: (),
  overlay: (),
  modal: (),
  fab: (),
) !default;
